{% extends 'index.html.twig' %}


{% block main %}
	<h1>Book a room anywhere in the world</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Summary</th>
				<th>Regions</th>
				<th>Description</th>
				<th>Capacity</th>
				<th>Superficy</th>
				<th>Price</th>
				<th>Address</th>
				<th>actions</th>
				<!--<th>Image</th>-->
			</tr>
		</thead>
		<tbody>
			{% for room in rooms %}
				<tr>
					<td>{{ room.id }}</td>
					<td>{{ room.summary }}</td>
					<td>
						{% for region in room.region %}
							{{region.name}}
						{% endfor %}
					</td>
					<td>{{ room.description }}</td>
					<td>{{ room.capacity }}</td>
					<td>{{ room.superficy }}</td>
					<td>{{ room.price }}</td>
					<td>{{ room.address }}</td>
					<td>
						<a href="{{ path('room_show', {'id': room.id}) }}">
							<button class="btn btn-lg btn-primary">show</button>
						</a>
					</td>
				</tr>
			</tbody>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="8">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% endblock %}
