{% extends 'index.html.twig' %}

{% block main %}
	<h1 style="text-align: center;">Book a room anywhere in the world</h1>

	{% for room in rooms %}
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ room.summary }}</h5>
				<p class="card-text">{{ room.description }}</p>
				<a href="{{ path('room_show', {'id': room.id}) }}">
					<button class="btn btn-lg btn-outline-primary">show</button>
				</a>
			</div>
		</div>
	{% else %}
		<p>no records found</p>
	{% endfor %}
	<div class="container"></div>
	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('room_new') }}">
			<button class="btn btn-lg btn-primary add-btn">+ Add a Room</button>
		</a>
	{% endif %}


	<hr class="separator"></hr>
<h2 style="text-align: center;">Filter by Regions</h2>
{% for region in regions %}
	<a class="region-btn" href="{{ path('region_index_room', {'id': region.id}) }}">
		<button class="btn btn-lg btn-outline-primary">{{ region.name }}</button>
	</a>
{% endfor %}{% endblock %}
