{% extends 'index.html.twig' %}

{% block main %}
	<h1>Room</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ room.id }}</td>
			</tr>
			<tr>
				<th>Summary</th>
				<td>{{ room.summary }}</td>
			</tr>
			<tr>
				<th>Regions</th>
				<td>
					{% for region in room.region %}
						<a class="in-show-links" href="{{ path('region_show', {'id': region.id}) }}">{{region.name}}</a>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Owner</th>
				<td></td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ room.description }}</td>
			</tr>
			<tr>
				<th>Capacity</th>
				<td>{{ room.capacity }}</td>
			</tr>
			<tr>
				<th>Superficy</th>
				<td>{{ room.superficy }}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{ room.price }}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{ room.address }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
			</tr>
		</tbody>
	</table>


	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('room_edit', {'id': room.id}) }}">
			<button class="btn btn-lg btn-primary">edit</button>
		</a>
		<a href="{{ path('room_to_cart', {'id': room.id}) }}">
			<button class="btn btn-lg btn-primary">Add to cart</button>
		</a>
	{% endif %}

	{{ include('room/_delete_form.html.twig') }}

	<a href="{{ path('room_index') }}">
		<button class="btn-lg btn-outline-dark back-to-list-btn">back to list →</button>
	</a>
{% endblock %}
