{% extends 'index.html.twig' %}

{% block main %}
	<h1>Owner index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Firstname</th>
				<th>Familyname</th>
				<th>Address</th>
				<th>Country</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for owner in owners %}
				<tr>
					<td>{{ owner.id }}</td>
					<td>{{ owner.firstname }}</td>
					<td>{{ owner.familyname }}</td>
					<td>{{ owner.address }}</td>
					<td>{{ owner.country }}</td>
					<td>
						<a href="{{ path('owner_show', {'id': owner.id}) }}">
							<button class="btn btn-lg btn-outline-primary">show</button>
						</a>

						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('owner_edit', {'id': owner.id}) }}">
								<button class="btn btn-lg btn-primary">edit</button>
							</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if is_granted('ROLE_USER') %}
		<a class="add-btn" href="{{ path('owner_new') }}">
			<button class="btn btn-lg btn-primary add-btn">+ Add an Owner</button>
		</a>
	{% endif %}
{% endblock %}
