{% extends 'index.html.twig' %}

{% block main %}
	<h1 style="text-align: center;">Your cart</h1>

	{% for room in rooms %}
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ room.summary }}</h5>
				<p class="card-text">{{ room.description }}</p>
				<a href="{{ path('room_show', {'id': room.id}) }}">
					<button class="btn btn-lg btn-outline-primary">show</button>
				</a>
				{% if is_granted('ROLE_USER') %}
					<a class="add-btn" href="{{ path('room_edit', {'id': room.id}) }}">
						<button class="btn btn-lg btn-outline-primary">edit</button>
					</a>
				{% endif %}
			</div>
		</div>
	{% else %}
		<p>Your cart is empty, have a look around !</p>
	{% endfor %}
{% endblock %}
