{% extends 'index.html.twig' %}

{% block main %}
	<h1 style="text-align: center;">Where will you plan your next trip?</h1>

	{% for region in regions %}
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{ vich_uploader_asset(region, 'imageFile') }}" alt="Card image cap">
			<div class="card-body">
				<h4 class="card-title">{{ region.country}}</h4>
				<h5 class="card-title">{{ region.name }}</h5>
				<p class="card-text">{{ region.presentation }}</p>
				<div class="h-100"></div>
				<a href="{{ path('region_show', {'id': region.id}) }}">
					<button class="btn btn-lg btn-outline-primary">show</button>
				</a>
				<a href="{{ path('region_index_room', {'id': region.id}) }}">
					<button class="btn btn-lg btn-outline-primary">See the rooms</button>
				</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('region_edit', {'id': region.id}) }}">
						<button class="btn btn-lg btn-outline-primary">edit</button>
					</a>
				{% endif %}
			</div>
		</div>
	{% else %}
		<p>no records found</p>
	{% endfor %}
	<div class="container"></div>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('region_new') }}">
			<button class="btn btn-lg btn-primary add-btn">+ Add a Region</button>
		</a>
	{% endif %}
{% endblock %}
